body{
    width: 100%;
    height: 100%;
    background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.meme-arsenal.com%2Fmemes%2F802451284741011e3ea54155221ad02f.jpg&imgrefurl=https%3A%2F%2Fwww.meme-arsenal.com%2Fen%2Fcreate%2Ftemplate%2F680048&tbnid=6EeVAIHOPNnBUM&vet=12ahUKEwjM3_Hjzqr3AhUFG-wKHQZuC_AQMygXegUIARCGAg..i&docid=tWFhF7BV6kKPYM&w=854&h=500&q=hello%20bear&ved=2ahUKEwjM3_Hjzqr3AhUFG-wKHQZuC_AQMygXegUIARCGAg);
}